body {
    background-color: rgb(26, 39, 52);
}


@font-face {
    font-family: 'Minecraft';
    src: url(fonts/Minecraftia-Regular.ttf);
}


h1 {
    text-align: center;
    font-size: 32px;
    font-family: 'Minecraft', monospace;
    padding: 10px;
    color: white;
}

.twitter {
    color: aquamarine;
    position: relative;
    bottom: 87;
    left: 50;
    font-size: 40;
}
